*.class
*.cache
*.apk
*.ap_
*.dex
*.*.class
bin/
bin/*
*.ja
libs/*

1#/*/*.png

*/*/*.png

*/*/*/*.tif
*/*/*.tif
*/*/*/*.avi
#1#/*/*.tif

projects/*/*/*.png
projects/*/*/*/*.tif

----------------------------- #2016/12/29 14:55:25
projects/*/*/*/*_data/
projects/*/*/*/*.mp3
projects/*/*/*/*.wmv
projects/*/*/*/*.avi
